@charset "UTF-8";

#login-wrap{
	width: 450px;
	height: 300px;
	background-color: whitesmoke;
	margin: 10% auto;
	border-radius: 10px;
	text-align: center;
}

.input-login{
	width: 350px;
    height: 50px;
    margin: 30px 0 0 0;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
}

#btn-wrap{
	margin-top: 40px;
}

.login-btn{
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	color: white;
    background-color: rgb(42, 193, 188);
    cursor: pointer;
}