@charset "UTF-8";

#modify-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.modify-btn{
	border: none;
	border-radius: 5px;
	width: 70px;
	height: 25px;
	color: rgb(42, 193, 188);
    background-color: white;
    cursor: pointer;
}